<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Train
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="#dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Train
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->


                <div class="row" ng-controller = "trainCtrl">
                    <div class="col-lg-6">
                        <div class="list-group">
                            <label>Deep Learning Engine</label>
                            <a href="#keras" class="list-group-item">Keras</a>
                            <a href="#mllib" class="list-group-item active" ng-value="userEngine='mllib'">MLLib</a>

                        </div>

                        <div class="list-group">
                            <label>Choose Model here</label>
                            <a href="#logisticRegression" class="list-group-item">Logistic Regression</a>
                            <a href="#SVM" class="list-group-item active" ng-value="userModel='SVM'">SVM</a>
                            <a href="#naiveBayes" class="list-group-item">Naive Bayes</a>
                            <a href="#decisionTree" class="list-group-item">Decision Tree</a>
                        </div>
 
                        <form role="form">
                            <div class="form-group">
                                <label>Iteration</label>
                                <input class="form-control" placeholder="Please input value from 0-1000" type="text" ng-model="SVMIteration">
                            </div>                            
                            <div class="form-group">
                                <label>Step</label>
                                <input class="form-control" placeholder="Please input an integer value" type="text" ng-model="userStep">
                            </div>                            
                            <div class="form-group">
                                <label>Reg Parameter</label>
                                <input class="form-control" placeholder="Please input value from 0-1" type="text" ng-model="userRegParam">
                            </div>                            
                            <div class="form-group">
                                <label>Reg Type</label>
                                <select class="form-control" ng-model="userRegType">
                                    <option>l1</option>
                                    <option>l2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Attack Dataset</label>
                                <select class="form-control" ng-model="attackDataset.selected">
                                    <option ng-repeat="atkset in attackDataset.options">{{atkset}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Normal Dataset</label>
                                <select class="form-control" ng-model="normalDataset.selected">
                                    <option ng-repeat="normset in normalDataset.options">{{normset}}</option>
                                </select>
                            </div>

                            <button ng-click="submit()" type="submit" class="btn btn-default" id="submitBtn">Submit</button>
                            <button type="reset" class="btn btn-default" id="reset">Reset</button>
                        </form>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
